body {
	background-color: white;
	font-family: 'Baskerville', 'Times New Roman', 'serif';
	font-size: 11.5pt;
	margin: 0px;
	padding: 0px;
}

html, body, #pics {
	height: 100%;
	width: 100%;
}

#poemes {
	position: absolute;
	left: 10%;
	top: 45%;
}

#pics img {
	display: inline-block;
	position: relative;
	top: 18%;
}

#aube {
	left: 49%;
	/*left: 650px;*/
	/*height: 70%;*/
	height: 65%;
	/*top: 100px;*/
}

#route {
	/*top: 20%;*/
	/*height: 65%;*/
	height: 65%;
	/*margin: 20px;*/
	left: 53.5%;
	padding: 0 100px 0 10px;
	filter: brightness(200%);
}