body {
	background-color: white;
	font-family: 'Baskerville', 'Times New Roman', 'serif';
	font-size: 11.5pt;
	margin: 0px;
	padding: 0px;
}

html, body, #pics {
	height: 100%;
	width: 100%;
}

#poemes {
	position: absolute;
	left: 7%;
	top: 50%;
}

#pics img {
	display: inline-block;
	position: relative;
	top: 15%;
}

#aube {
	left: 500px;
	height: 70%;
	/*top: 100px;*/
}

#route {
	/*top: 20%;*/
	height: 65%;
	margin: 20px;
	left: 530px;
}